.menupage {
    min-width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0;
    background: var(--bg-color);
    position: fixed;
    z-index: 99999999;
    transition: transform cubic-bezier(.16, .42, .33, .77) 0.6s;
    padding-top: 50px;
    z-index: 9999999;
    overflow: hidden;

    &.cover {
        transform: translateY(0);
    }

    ul {
        max-width: 400px;
        margin: auto;
        height: 60vh;
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        li {
            text-align: center;
            margin: 10px 0;

            a {
                display: block;
                font-size: 6.5rem;
                color: var(--text-color) !important;
                position: relative;
                margin-bottom: 20px;
                text-transform: uppercase;
                margin: auto;
                text-decoration: none;

                &::after {
                    content: '';
                    color: var(--text-color);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    transition: 0.3s linear;
                    height: 2px;
                    background: currentColor;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }


    }

    .info {
        padding-top: 11.1rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 7.3rem;

        .location, .email {
            span , a{
                font-size: 1.5rem;
                font-weight: 300;
                display: block;
                cursor: pointer;
                color: var(--text-color) !important ;
                text-decoration: none;
            }
        }


    }

    .cross {
        position: absolute;
        top: 5%;
        right: 5%;
        text-align: right;
        cursor: pointer;

        svg {
            fill: var(--text-color);
            width: 7rem;
        }
    }

}

/* For small screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {

    .menupage {
        width: 100%;
        position:fixed;
        padding: 0;
    }

      .menupage ul li a{
        font-size: 3.5rem;
      }
    .menupage .info{

        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 8rem 0 0;
        grid-gap: 4rem;

        .location, .email {
            span , a{
                font-size: 1.4rem;
                overflow-wrap: break-word
            }
        }
      }
      .menupage .cross{
        top:0;
        padding:20px;
        right: 0;
      }
      .menupage .cross svg {
            width: 4rem;
    }
  }
  
  /* For medium screens (e.g., tablets) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    
  }                            
