.circle {
  position: absolute;
  top: -28%;
  left: -10%;
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 60px var(--shadow);

  &.circle_2 {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    transform-origin: left;
    transform: translate(41%, 37%);
  }
}

h5.section_title {
  margin: 20px 0;
  font-weight: 500;
  font-size: 2.6rem;
  color: var(--text-color);
  opacity: 0; /* Start fully transparent */
  transform: translateY(-20px);
  animation: fadeInDown 1s ease-in-out forwards;
}

.section_nav {
  display: none;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  z-index: 999;

  img {
    width: 50px;
    display: block;
    margin: 80px 0 80px auto;
    cursor: pointer;
  }

  ul.nav_items {
    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 5rem;
      font-weight: 500;
      margin-bottom: 15px;
      display: block;
    }
  }

  .block {
    margin: 0 auto 50px auto;

    h5 {
      font-size: 1.5rem;
      color: var(--text-color);
      margin-bottom: 20px;
      font-weight: 700;
    }

    p,
    a {
      margin: 10px 0;
      font-weight: 400;
      font-size: 2rem;
      color: #444444;
      text-decoration: none;
      display: block;
    }
  }
}

header.main {
  &.main {
    min-height: calc(100vh + 5rem);
  }

  position: relative;
  overflow-x: hidden;
  overflow-y: initial;

  .section_title {
    font-size: 1.7rem;
    margin: 0 20px 20px;
  }

  .header_content {
    position: relative;
    h1 {
      font-size: 7rem;
      font-weight: 700;
      margin-bottom: 25px;
      line-height: 70px;
      opacity: 0; /* Start fully transparent */
      transform: translateY(-20px); /* Start 20px above the original position */
      animation: fadeInDown 1s ease-out forwards;
      animation-delay: 1.1s; /* Delays until .t1 completes */
    }

    p {
      max-width: 32.6rem;
      font-size: 1.6rem;
      margin: 10px 0 30px;
      line-height: 1.8;
      opacity: 0.9;

      span {
        display: inline-block;
        opacity: 0; /* Start fully transparent */
        transform: translateY(
          -20px
        ); /* Start 20px above the original position */
        animation: fadeInDown 1s ease-out forwards;
        animation-delay: 1.2s; /* Delays until .name completes */
      }

      /* For staggered effect on .p span elements */
      span:nth-child(1) {
        animation-delay: 1.3s;
      }
      span:nth-child(2) {
        animation-delay: 1.4s;
      }
      span:nth-child(3) {
        animation-delay: 1.5s;
      }
    }

    a.btn {
      margin: 0;
      border: 2px solid var(--text-color);
      padding: 10px 35px;
      border-radius: 25px;
      outline: none;
      transition: background 0.5s;
      font-weight: 300;
      color: var(--text-color);
      font-size: 1.6rem;
      z-index: 999999;
      position: relative;
      text-decoration: none;

      &:hover {
        color: var(--bg-color);
        background: var(--text-color);
      }
    }

    .outter {
      position: absolute;
      left: 8%;
      bottom: 0;
      transform: translate(-22%, 8%);
      cursor: pointer;
      z-index: 999999;

      &:hover {
        .scroll {
          transform: scale(0.9);
        }

        .mouse .stick {
          margin: 7px 0;
        }
      }

      .scroll {
        width: 80px;
        height: 80px;
        border: 1px solid var(--text-color);
        opacity: 0.9;
        border-radius: 50%;
        transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      .mouse {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 22px;
        height: 33px;
        border-radius: 10px;
        border: 2px solid var(--text-color);
        display: flex;
        justify-content: center;

        .stick {
          border: 1px solid var(--text-color);
          transform: rotate(90deg);
          width: 9px;
          height: 1px;
          margin: 3px 0;
          transition: margin 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
      }
    }

    .social_icons {
      position: absolute;
      bottom: 0;
      right: 5%;

      a {
        display: inline-block;
      }

      svg {
        width: 16px;
        fill: var(--text-color);
        margin: 0 8px;
        cursor: pointer;
        transition: filter 0.5s;

        &:hover {
          fill: var(--gray-color);
        }
      }
    }
  }
}

/* Animation for fading in and moving down */
@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
  }
}

/* For small screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {
  header.main{
    padding: 0 15px;
  }
  header.main .header_content {
    position: relative;
    .section_title {
      font-size: 1.3rem !important;
      margin: 25px 0 !important;
    }
    h1 {
      font-size: 4rem !important;
      margin-bottom: 20px !important;
      line-height: 45px !important;
    }
    p {
      font-size: 1.3rem;
    }
    .outter {
      display: none;
    }
    a.btn {
      font-size: 1.3rem;
    }
  }
  header.main {
    min-height: calc(65vh + 5rem) !important;
  }
}

/* For medium screens (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  h5.section_title {
    font-size: 1rem;
  }
}

